<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\bin\apache-tomcat-8.0.30\bin\startup.bat"
        arguments="">
      <environmentVariables>
        <environmentVariable name="CATALINA_OPTS" value="-Dspep.data=%HOME%\site\wwwroot\spep_java" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
